/*****************************************************************************
** (C) Chris Wood 1995.
**
** APP.RC - Application resources.
**
******************************************************************************
*/

#include <windows.h>
#include "resource.h"

/**** Icons. ****************************************************************/
AppIcon   ICON      app.ico

/**** Bitmaps. **************************************************************/

/**** Strings. **************************************************************/
STRINGTABLE
BEGIN
	IDS_APPNAME,	"Application Name"
END

/**** Dialogs. **************************************************************/
rcinclude about.h
rcinclude about.dlg
